.wrapper {
  max-width: 950px;
  margin: auto;
  padding: 0 25px;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image {
  display: flex !important;
  justify-content: center;
}
